{% macro  show_links()  %}

<ul class="nav nav-tabs nav-fill" style="background-color: var(--theme-color-accent);">
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('views.dashboard')}}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('views.calendar')}}">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('views.analysis')}}">Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="{{url_for('views.gear')}}">Gear</a>
      </li>
    <li class="nav-item">
        <a class="nav-link"   style="color:whitesmoke;" href="{{url_for('views.import_page')}}">Import</a>
    </li>
</ul>

{% endmacro %}
