# Kicad files in the hardware folder
hardware/**/*-backups
hardware/**/#auto*
hardware/**/_auto*
hardware/**/fp-info-cache


# Python cache
__pycache__

# Python venv
.venv

# Uploaded files
uploads

# Database
*.db
*.db.bak

# secrets & caches
.env
util/sporttracks/st_tcx/cookies.txt
util/sporttracks/st_tcx/ids.txt
util/sporttracks/st_tcx/*.tcx
util/sporttracks/st_tcx/*.json
*.error.html
