CREATE TABLE migration_versions (version VARCHAR(191) NOT NULL, executed_at DATETIME DEFAULT NULL, execution_time INTEGER DEFAULT NULL, PRIMARY KEY(version));
CREATE TABLE KeyValue ("key" VARCHAR(255) NOT NULL, value CLOB NOT NULL, PRIMARY KEY("key"));
CREATE TABLE Activity (activityId VARCHAR(255) NOT NULL, startDateTime DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , data CLOB DEFAULT NULL --(DC2Type:json)
        , gearId VARCHAR(255) DEFAULT NULL, weather CLOB DEFAULT NULL --(DC2Type:json)
        , location CLOB DEFAULT NULL --(DC2Type:json)
        , sportType VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, description VARCHAR(255) DEFAULT NULL, distance INTEGER NOT NULL, elevation INTEGER NOT NULL, calories INTEGER DEFAULT NULL, averagePower INTEGER DEFAULT NULL, maxPower INTEGER DEFAULT NULL, averageSpeed DOUBLE PRECISION NOT NULL, maxSpeed DOUBLE PRECISION NOT NULL, averageHeartRate INTEGER DEFAULT NULL, maxHeartRate INTEGER DEFAULT NULL, averageCadence INTEGER DEFAULT NULL, movingTimeInSeconds INTEGER NOT NULL, kudoCount INTEGER NOT NULL, deviceName VARCHAR(255) DEFAULT NULL, totalImageCount INTEGER NOT NULL, localImagePaths CLOB DEFAULT NULL, polyline CLOB DEFAULT NULL, gearName VARCHAR(255) DEFAULT NULL, startingCoordinateLatitude DOUBLE PRECISION DEFAULT NULL, startingCoordinateLongitude DOUBLE PRECISION DEFAULT NULL, isCommute BOOLEAN DEFAULT NULL, streamsAreImported BOOLEAN DEFAULT NULL, workoutType VARCHAR(255) DEFAULT NULL, PRIMARY KEY(activityId));
CREATE TABLE Segment (segmentId VARCHAR(255) NOT NULL, name VARCHAR(255) DEFAULT NULL, sportType VARCHAR(255) NOT NULL, distance INTEGER NOT NULL, maxGradient DOUBLE PRECISION NOT NULL, isFavourite BOOLEAN NOT NULL, deviceName VARCHAR(255) DEFAULT NULL, climbCategory INTEGER DEFAULT NULL, PRIMARY KEY(segmentId));
CREATE TABLE SegmentEffort (segmentEffortId VARCHAR(255) NOT NULL, segmentId VARCHAR(255) NOT NULL, activityId VARCHAR(255) NOT NULL, startDateTime DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , name VARCHAR(255) NOT NULL, elapsedTimeInSeconds DOUBLE PRECISION NOT NULL, distance INTEGER NOT NULL, averageWatts DOUBLE PRECISION DEFAULT NULL, PRIMARY KEY(segmentEffortId));
CREATE TABLE Gear (gearId VARCHAR(255) NOT NULL, createdOn DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , distanceInMeter INTEGER NOT NULL, name VARCHAR(255) NOT NULL, isRetired BOOLEAN NOT NULL, type VARCHAR(255) DEFAULT 'imported' NOT NULL, PRIMARY KEY(gearId));
CREATE TABLE Challenge (challengeId VARCHAR(255) NOT NULL, createdOn DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , name VARCHAR(255) NOT NULL, logoUrl VARCHAR(255) DEFAULT NULL, localLogoUrl VARCHAR(255) DEFAULT NULL, slug VARCHAR(255) NOT NULL, PRIMARY KEY(challengeId));
CREATE TABLE ActivityStream (activityId VARCHAR(255) NOT NULL, streamType VARCHAR(255) NOT NULL, createdOn DATETIME NOT NULL --(DC2Type:datetime_immutable)
        , data CLOB NOT NULL --(DC2Type:json)
        , bestAverages CLOB DEFAULT NULL --(DC2Type:json)
        , PRIMARY KEY(activityId, streamType));
CREATE TABLE ActivitySplit (activityId VARCHAR(255) NOT NULL, unitSystem VARCHAR(255) NOT NULL, splitNumber INTEGER NOT NULL, distance INTEGER NOT NULL, elapsedTimeInSeconds INTEGER NOT NULL, movingTimeInSeconds INTEGER NOT NULL, elevationDifference INTEGER NOT NULL, averageSpeed DOUBLE PRECISION NOT NULL, minAverageSpeed DOUBLE PRECISION NOT NULL, maxAverageSpeed INTEGER NOT NULL, paceZone INTEGER NOT NULL, PRIMARY KEY(activityId, unitSystem, splitNumber));
CREATE TABLE ActivityBestEffort (activityId VARCHAR(255) NOT NULL, distanceInMeter INTEGER NOT NULL, sportType VARCHAR(255) NOT NULL, timeInSeconds INTEGER NOT NULL, PRIMARY KEY(activityId, distanceInMeter));
CREATE TABLE CombinedActivityStream (activityId VARCHAR(255) NOT NULL, unitSystem VARCHAR(255) NOT NULL, streamTypes VARCHAR(255) NOT NULL, data CLOB NOT NULL --(DC2Type:json)
    , PRIMARY KEY(activityId, unitSystem));
CREATE INDEX Activity_startDateTimeIndex ON Activity (startDateTime);
CREATE INDEX SegmentEffort_segmentIndex ON SegmentEffort (segmentId);
CREATE INDEX SegmentEffort_activityIndex ON SegmentEffort (activityId);
CREATE INDEX Challenge_createdOnIndex ON Challenge (createdOn);
CREATE INDEX ActivityStream_activityIndex ON ActivityStream (activityId);
CREATE INDEX ActivityStream_streamTypeIndex ON ActivityStream (streamType);
CREATE INDEX ActivitySplit_activityIdUnitSystemIndex ON ActivitySplit (activityId, unitSystem);
CREATE INDEX ActivityBestEffort_sportTypeIndex ON ActivityBestEffort (sportType);
