<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Training Log 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" type = "text/css">
</head>
<body>
    <div class="page_layout">
        <div class="title_bar">
            <h1>Super Training Log 2</h1>
        </div>
        <div class="menu_bar">Menu Bar</div>
        <div class="left_body">Left Body</div>
        <div class="right_body">Right Body</div>
        <div class="footer">
            <p class="medium_text">Ben Mullin 2024</p>
        </div>
    </div>
</body>
</html>