{% macro  show_links()  %}

<ul class="nav nav-tabs nav-fill" style="background-color: var(--theme-color-accent);">
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="">Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:whitesmoke;" href="">Gear</a>
      </li>
    <li class="nav-item">
        <a class="nav-link"   style="color:whitesmoke;" href="">Import</a>
    </li>
</ul>

{% endmacro %}
