{% extends 'base.html' %} {% block content %}
<div class="whole-body">
  <!-- Navigation -->
  <div class="week-nav">
    <span>
      Week of {{ start_of_week.strftime('%B %d, %Y') }}
    </span>
    <a href="{{ url_for('views.dashboard', week_offset=week_offset - 1) }}">&laquo; Previous Week</a>
    <a href="{{ url_for('views.dashboard', week_offset=week_offset + 1) }}">Next Week &raquo;</a>
    <a href="{{ url_for('views.dashboard', week_offset=0) }}">Current Week</a>
  </div>
  <div class="section" style="color: black">Summaries (weekly/monthly)</div>
  <div class="section">
    <h2>Recent Workouts</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th class="col-date">Date/Time</th>
          <th class="col-sport">Sport</th>
          <th class="col-name">Name</th>
          <th class="col-distance">Distance</th>
          <th class="col-time">Time</th>
          <th>Extra?</th>
        </tr>
      </thead>
      {% for activity in activities %}
      <tr onclick="window.location='{{ url_for('views.edit_extra', id=activity.activityId, next=request.full_path) }}'" style="cursor: pointer;">
          <td class="col-date">{{ activity.startDateTime | pretty_datetime }}</td>
          <td class="col-sport">{{ activity.sportType }}</td>
          <td class="col-name">{{ activity.name }}</td>
          <td class="col-distance">{{ activity.distance | km }}</td>
          <td class="col-time">{{ activity.movingTimeInSeconds | format_duration }}</td>
          <td>
            {% if activity.has_extra %}
              ✅
            {% else %}
              ❌
            {% endif %}
          </td>
      </tr>
      {% endfor %}  
    </table>
  </div>
{% endblock %}
